/* style for the App classname */
body{
    background-image:  url("./img/stade.png") ;

text-align: center;
}
/* player card style*/
.player{
    
    transition: 0.3s;
    background-color:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18) ; 
    opacity: 100%;
    width: 300px;

    display: flex;
    flex-direction: column;
    border: 2px solid green;
    text-align: center;
    font-size: 60;
    color: white;

}
.player .img img {
mix-blend-mode: multiply;
}
/* player image*/ 
.player:hover{
    transform: rotatey(20deg) rotateX(-20deg);
    transition: 0.5s;
    
}
/* player list style */
.playerList{
    text-align: center;
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 600px;
}
